@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

*{
        box-sizing: border-box;
}

body{
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        display:flex;
        align-items:  center;
        justify-content:center;
        height: 100vh;
        color: hsl(232,13%,33%);
        background-color: hsl(240,78%,98%);
}
body::before{
        content:'';
        background-image: url('./images/bg-top.svg');
        background-repeat: no-repeat;
        background-position: top right;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
}
body::after{
        content:'';
        background-image: url('./images/bg-bottom.svg');
        background-repeat: no-repeat;
        background-position: bottom left;
        position: absolute;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
}

.container{
        margin:auto;
        max-width: 100%;
        width: 1200px;
}

.flex{
        display: flex;
        align-items:center;
        justify-content: center;
}

h1{
        color: hsl(223,13%,49%);
}

.toggle-container{
        color:hsl(234,14%,74%);
        margin-bottom: 40px;;
}
.price-box{
        background-color: #fff;
        border-radius: 10px;
        margin: 10px;;
        box-shadow: 0 5px 10 px rbga(0,0,0,0.1);
        padding: 30px;
}
.price-box h4{
        margin:0px;

}
.price-box p{
        width: 250px;
        font-size:4em;
        margin: 15px 0;
}
.price-box .monthly{
        display:none;
}
.show-monthly .price-box .monthly{
        display:block;
}
.show-monthly .price-box .annually{
        display: none;
}
.price-box.price-box-active{
        background-image: linear-gradient(
                to right,
                hsl(236,72%,79%),
                hsl(237,63%,64%)
        );
        color: #fff;
        width:340px;
        height: 460px;
        padding-top: 50px;;
       
}

.toggle-container {
        display: flex;
        align-items: center;
        justify-content: center;

}
.price-box ul{
        border-bottom: 1px solid hsl(234,14%,74%);
        padding: 0;
        list-style: none;
}
.price-box ul li{
        border-bottom:  1px solid hsl(234, 14%,74%);
        
        padding: 15px 0;
        font-size: 14px;
}

.price-box button{
        background-image: linear-gradient(
                to right,
                hsl(236,72%,79%),
                hsl(237,63%,64%)
        );
        border-radius: 5px;
        border:none;
        color: #fff;
        font-family: 'Montserrat',sans-serif;
        letter-spacing:2px;
        padding:15px;
        margin-top: 10px;
        width: 100%;
        text-transform:  uppercase;
}

.price-box.price-box-active button{
        background-image: none;
        background-color: #fff;
        color: hsl(237,63%,64%);
}

.price-box.price-box-active ul,
.price-box.price-box-active ul li{
        border-color: #f0f0f0;
}

.price-box.price-box-active p{
        color: #fff;
}

.toggle-container label{
        background-image: linear-gradient(
                to right,
                hsl(236,72%,79%),
                hsl(237,63%,64%)
        );
        border-radius: 50px;
        display: inline-block;
        height: 30px;
        width:70px;
        position: relative;
        margin: 0 10px;
}

.toggle-container label .ball{
        background-color: #fff;
        border-radius: 50px;
        position: absolute;
        top: 2.5px;
        left: 2.5px;
        height: 25px;
        width:25px;
        transition:  transform 0.4 ease;
}
.toggle-container input{
        position:  absolute;
        right: 9999px;
}

.toggle-container input:checked + label .ball{
       transform: translateX(40px);
}

@media screen and (max-width:768px){
        .flex{
                flex-direction: column;
        }
        
}

@media screen and (max-width:930px){
        .flex{
                flex-direction: column;
        } 
        body::before{             
                margin-right: -200px;
        }
        body::after{
                 background-image: None;             
        } 
}